<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="kr.co.camp" />
	
	<mvc:annotation-driven> 
	  <mvc:message-converters> 
	    <bean class= 
	     "org.springframework.http.converter.StringHttpMessageConverter"> 
	      <property name="supportedMediaTypes"> 
	        <list> 
	          <value>text/html; charset=UTF-8</value> 
	        </list> 
	      </property> 
	    </bean> 
	    <!-- json처리 -->
	    <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	    	<property name="supportedMediaTypes">
	    		<list>
	    			<value>text/html; charset=UTF-8</value>
	    			<value>application/json; charset=UTF-8</value>
    			</list>
			</property>
		</bean>   
	  </mvc:message-converters> 
	</mvc:annotation-driven> 
	<mvc:default-servlet-handler />
	
	<mvc:view-controller path="/board/writeForm.do" view-name="board/writeForm.jsp"/> 
	  

	<mvc:view-resolvers>
		<mvc:jsp prefix="/html/" suffix=".html" />
	</mvc:view-resolvers>
	
	
	<!-- 파일업로드 관련 bean -->
	 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"><!-- 최대 업로드 파일 사이즈 : 10MB --> 
       <property name="maxUploadSize" value="10485760"/>
     </bean> 
     
    <mvc:cors>

		<mvc:mapping path="/api/**" allowed-origins="http://localhost:10001"
					 allowed-methods="GET, PUT" allowed-headers="header1, header2, header3"
					 exposed-headers="header1, header2" allow-credentials="false" max-age="123" />

		<mvc:mapping path="/resources/**" allowed-origins="http://localhost:10001" />

	</mvc:cors>

</beans>